mlflow<3,>=2.2
cffi==1.16.0
defusedxml==0.7.1
fsspec==2024.6.1
numpy==1.26.4
packaging==23.2
pandas==2.2.2
pillow==10.3.0
protobuf==3.19.6
pydot==2.0.0
requests==2.32.3
scipy==1.13.1
tensorflow-gpu==2.10.0
tensorflow==2.10.0